/* For sizing of the blurbs on smaller screens */
@media screen and (min-width: 600px) {
    .card {
        flex: 1 1 calc(50% - 2rem);
    }
}

/* For sizing of the blurbs on larger screens*/
@media screen and (min-width: 900px) {
    .card {
        flex: 1 1 calc(33% - 2rem);
    }
}

html,
body {
    height: 100%;
    width: 100%;
}

h1 {
    text-align: center;
    padding-top: 109px;
}

/*Styling Booking system input boxes*/
input[type=text] {
    width: 100%;
    margin-bottom: 10px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

/*Styling the labels of the input boxes*/
label {
    margin-bottom: 10px;
    display: block;
}

#addressForm {
    width: 100%
}

#subMitBtnDiv {
width: 100%;
}

#leafletMapId {
    height: 70%;
    width: 73%;
    margin-top: 40px;
}

/*Styling Headers for booking system*/
.styleHeaders {
    text-align: center;
    font-size: 27px;
    font-weight: bold;
    color: rgb(0, 42, 89);
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 1200px;
    margin: 0 auto;
  }

/*styling for overall class of form-group aka booking system*/
.form-group {
  margin-bottom: 2px !important;
  margin-left: 0px !important;
  width: 100%;
  padding: 3.5px 0;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
}



/* Event Blurbs Container Display */
.container {
  display: flex;
  flex-wrap: wrap;
}

.leaflet-container {
    display: flex;
    flex-wrap: wrap;
}

.leaflet-popup-tip {
    background: rgba(0, 0, 0, 0) !important;
    box-shadow: none !important;
}